
body{
	background-color: rgb(143, 189, 199);
}
h3{
	text-align: center;
}
.f{
	text-align: center;
}
#container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:960px;
	width:960px;
	padding: 0;
	border: none;
}
#button1{
	position:relative;
	background: rgba(0,128,0,0.5);
}
#button2{
	position:relative;
	background:	rgba(128,128,128,0.5);
}
#button3{
	position:relative;
	background: rgba(92, 10, 163,0.5);
}
#button4{
	position:relative;
	background: rgba(128,0,0,0.5);
}

.grid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
}
